h1,
h3 {
  margin: 0px;
}

h1 {
  font-size: 25px;
}

body,
div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 3px;
  transition: 0.5s all;
}
